* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway';
  font-style: normal; 
  font-variant: normal; 
}

  body {
    height: 100vh;
    background-color: #907a70;
    background-image: url('../images/prplpttbckgrnd.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .ohi-body {
    display: grid;
    place-content: center center;
  }

  .container {
    background-color: rgba(255,255,255,0.5);
  }

  @supports (backdrop-filter: blur(14px) contrast(70%) brightness(140%) grayscale(30%)) {
    .container {
      background-color: rgba(255,255,255,0.1);
      backdrop-filter: blur(14px) contrast(70%) brightness(140%) grayscale(30%);
    }
  }

  #welcomeBox {
    width: 350px;
    height: 500px;
    border-radius: 8px;
  }

  #tallContainer {
    width:800px;
    margin: auto;
    min-height: 100vh;
  }

  .text-content {
    text-align: center;
    font-weight: bold;
    color: #27170c;
    padding: 40px;
  }

  #welcomeText {
    width: 350px;
    height: 500px;
  }

  #tallText {
    width:800px;
  }

  .sidenav a {
    position: fixed;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: ghostwhite;
    border-radius: 0 5px 5px 0;
    z-index:999;
  }

  .sidenav a:hover {
    left: 0;
  }
  
 .about {
    top: 20px;
    background-color: #43701e;
  }

 .blog {
    top: 80px;
    background-color: #2b618d;
  }
  
 .projects {
    top: 140px;
    background-color: #8d1e3a;
  }
  
  .contact {
    top: 200px;
    background-color: #555
  }

  .random-link {
    color: #43701e;
    font-style: italic;
  }

  .potato-icon {
    height: 50px;
    width: 50px;
    margin: 2em;
  }

  #homeboundPotato {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 15px;
    z-index: 998;
  }

  h1 { 
    font-size: 24px; 
    font-weight: 700; 
    line-height: 26.4px; } 
  
  h3 {
    font-size: 14px; 
    font-weight: 700; 
    line-height: 15.4px; } 
  
  p {font-size: 14px; 
    font-weight: 400; 
    line-height: 20px; } 

  blockquote { 
    font-size: 21px; 
    font-weight: 400; 
    line-height: 30px; } 
    
  pre { 
    font-size: 13px; 
    font-weight: 400; 
    line-height: 18.5714px; }

  @media only screen and (hover: none)  {
    .sidenav a {
      left: 0;
    }
  }

  @media only screen and (min-device-width : 300px) and (max-device-width : 767px) {
    #welcomeText {
      width: 70vw;
      height: 60vh;
    }

    #welcomeBox {
      width: 70vw;
      height: 60vh;
    }

    h1 { 
      font-size: 28px; 
      font-weight: 850; 
      line-height: 52.8px; } 
    
    h3 {
      font-size: 24px; 
      font-weight: 850; 
      line-height: 30.8px; } 
    
    p {font-size: 24px; 
      font-weight: 500; 
      line-height: 40px; } 
  
    blockquote { 
      font-size: 42px; 
      font-weight: 500; 
      line-height: 60px; } 
      
    pre { 
      font-size: 26px; 
      font-weight: 400; 
      line-height: 37.1428px; }
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #welcomeText {
      width: 60vw;
      height: 50vh;
    }

    #welcomeBox {
      width: 60vw;
      height: 50vh;
    }

    h1 { 
      font-size: 28px; 
      font-weight: 850; 
      line-height: 52.8px; } 
    
    h3 {
      font-size: 24px; 
      font-weight: 850; 
      line-height: 30.8px; } 
    
    p {font-size: 24px; 
      font-weight: 500; 
      line-height: 40px; } 
  
    blockquote { 
      font-size: 42px; 
      font-weight: 500; 
      line-height: 60px; } 
      
    pre { 
      font-size: 26px; 
      font-weight: 400; 
      line-height: 37.1428px; }
    }

  /* @media only screen and (min-resolution: 264dpi) */
