  body, html {
    margin: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    background-color: #907a70;
    background-image: url('../images/pttbckgrnd.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  * {
    box-sizing: border-box;
  }

  /* .bg-image {
    background-color: #907a70;
    background-image: url('../images/pttbckgrnd.jpg');

    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);  

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */

  .frost-box {
    background: inherit;
    width: 350px;
    height: 500px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
  }

  .frost-box:before {
    content: "";
    width: 400px;
    height: 550px;
    background: inherit; 
    position: absolute;
    left: -25px;
    right: 0;
    top: -25px;
    bottom: 0;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
    filter: blur(10px);
  }

  .text-content {
    width: 250px;
    height: 350px;
    text-align: center;
    font-weight: bold;
    color: #27170c;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: ghostwhite;
    border-radius: 0 5px 5px 0;
  }

  #mySidenav a:hover {
    left: 0;
  }
  
 #about {
    top: 20px;
    background-color: #43701e;
  }

 #blog {
    top: 80px;
    background-color: #2b618d;
  }
  
 #projects {
    top: 140px;
    background-color: #8d261e;
  }
  
  #contact {
    top: 200px;
    background-color: #555
  }

  a {
    color: #43701e;
    font-style: italic;
  }
