  body, html {
    margin: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  .bg-image {
    background-color: #907a70;
    background-image: url('../images/pttbckgrnd.jpg');

    -webkit-filter: blur(8px);
    -moz-filter: blur(8px);
    -o-filter: blur(8px);
    -ms-filter: blur(8px);
    filter: blur(8px);  

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .text-content {
    background-color: #907a70;
    background-color: ghostwhite; opacity:0.6;
    color: #27170c;
    border: 3px solid #27170c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    font-weight: bold;
  }

  .header {
    overflow: hidden;
    background-color: #907a70;
    padding: 20px 10px;
  }

  .header a {
    float: left;
    color: #27170c;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: ghostwhite; opacity:0.6;
    color: #27170c;
  }
  
  .header a.active {
    background-color: #43701e;
    color: ghostwhite;
  }
  
  .header-right {
    float: right;
  }
  
  a {
    color: #43701e;
    font-style: italic;
  }

  @media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
